@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

:root {
    --bg1: #e92f6d;
    --bg2: #e92f6d;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}

body{
    font-family: "Inter", 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);
}
h1, h2, h3, h4, h5, h6{
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
 img{
    width: 100%;
 }

 section{
    padding-top: 160px;
    padding-bottom: 160px;
 }

/*NAVBAR*/
.navbar{
    background: linear-gradient(to bottom, #e92f6d, rgba(100, 0, 46, 0.5))
}

.navbar-brand{
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}

/*HERO*/
#hero{
    background: linear-gradient(to right, #f9daba99, rgba(27, 31, 52, 0.0)), url(../img/banner-02.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

/*BTN*/
.btn{
    padding: 16px, 36px;
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s ease;
    border-radius: 0;
}

.btn-brand{
    background-color: var(--brand);
}

.btn-brand:hover{
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.btn-outline-brand{
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.btn-outline-brand:hover{
    background-color: var(--brand);
}